repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-added-large-files
    args:
    - --maxkb=1000
  - id: check-case-conflict
  - id: check-json
  - id: check-toml
  - id: check-yaml
    args:
    - --unsafe
  - id: end-of-file-fixer
  - id: debug-statements
  - id: detect-private-key
  - id: detect-aws-credentials
    args:
    - --allow-missing-credentials
  - id: trailing-whitespace
  - id: mixed-line-ending
    args:
    - --fix=lf
  - id: check-merge-conflict
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.11
  hooks:
  - id: ruff
    args:
    - --fix
    - --exit-non-zero-on-fix
  - id: ruff-format
- repo: https://github.com/Yelp/detect-secrets
  rev: v1.5.0
  hooks:
  - id: detect-secrets
    args:
    - --baseline
    - .secrets.baseline
    exclude: .*\.lock$
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.105.0
  hooks:
  - id: terraform_fmt
  - id: terraform_validate
- repo: local
  hooks:
  - id: pyright
    name: pyright
    entry: uv run pyright
    language: system
    types:
    - python
    pass_filenames: false
  - id: pytest
    name: pytest
    entry: uv run pytest --cov-fail-under=90
    language: system
    types:
    - python
    pass_filenames: false
